/* Base styles (default for all devices) */

.logoimg {
    width: 120px;

}
img {
    width: 100%;
}
*{
    box-sizing: border-box;
}
.fitem {
    border: 1px solid gray;
    border-radius: 15px;
}
.fitem .img .col img {
    border-radius: 15px;
}
.disc .row .Clothing {
    color: gray ;
    font-size: 13px;
}
.disc .row .name {
    font-size: 20px;
    font-weight: bold;
}
.stars i {
    font-size: 14px;
    color: rgb(238, 194, 127);
}
.aprice {
    font-weight: bold;
    font-size: 18px;
    color: rgb(12, 126, 126);
    /* padding: 0 0 px; */
}
.pprice {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}
.shopicon {
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding: 0 45px; */
}
.shopicon i {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(12, 126, 126, 0.233);
    border-radius: 50%;
    color: rgb(12, 126, 126);
    transition: 0.5s;
}
.shopicon i:hover{
    background-color: rgb(12, 126, 126);
    color: white;
}
.con {
    position: relative;
}
.hot ,.new ,.bs,.s ,.minus {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 2.5px 10px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    /* background-color: rgb(255, 97, 124); */
}
.hot{
    background-color: rgb(255, 97, 124);
    
}
.new{
    background-color: rgba(53, 138, 124, 0.404);
    
}
.bs{
    background-color: rgb(248, 162, 50);
}
.s {
    background-color: rgba(38, 153, 254, 0.445);
}
.minus {
    background-color: rgb(247, 141, 159);
}
i {
    cursor: pointer;
}
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    header , section {
        padding: 30px 10px 30px 10px;
    }
    .mainheader {
        /* background-color: lightblue; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
        /* display: none; */
    }
    .mainheader .logo img {
    }
    .mainheader nav ul {
        list-style: none;
        display: flex;
    }
    .mainheader nav ul li {
        padding: 0 10px;
    }
    .mainheader nav ul li i {
        font-size: 25px;
        /* font-weight: bolder; */
    }
    .secondheader {
        position: relative;
        top: -100px;
        right: 100%;
        /* top: 0; */
        transition: 0.5s;
        /* background-color: white; */
        z-index: 999;
        /* height: 800px; */

    }
    .secondheader .parts {
        padding: 15px 25px;
        position: fixed;
        /* height: 100%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 30px;
        height: 100%;
        /* justify-content: space-between; */
    }
    .secondheader .parts .part1{
        display: flex;
        justify-content: space-between;
    }
    .secondheader .parts .part1 .x i {
        font-size: 40px;
    }
    .secondheader .parts .part2 {
        position: relative;
    }
    .secondheader .parts .part2 input {
        width: 100%;
        padding: 10px 15px;
        outline: none;

    }
    .secondheader .parts .part2 i {
        position: absolute;
        font-size: 30px;
        top: 5px;
        right: 10px;
    }
    .navbar ul {
        list-style: none;
        padding: 0;
    }
    .navbar ul li {
        padding: 10px 0;
        font-weight: 600;
    }
    .navbar ul li a {
        text-decoration: none;
        position: relative;
    }
    .navbar ul li .sel {
        color: rgb(12, 126, 126);
    }
    .navbar ul li .nosel {
        color: rgb(0, 0, 0);
    }
    .navbar ul li .sel::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 15%;
        background-color: black;
        bottom: -10%;
        border-radius: 10px;
        background-color: rgb(12, 126, 126) ;
        left: 0;
        transition: 1s;
    }
    .home-section {
        display: flex;
        flex-wrap: wrap;
        /* padding: 50px 10px; */
        align-items: center;
    }
    .home-section .text {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .home-section .text .hopro {
        font-weight: bold;
        font-size: 20px;
    }
    .home-section .text .hopro ,.home-section .text .save {
        color: gray;

    }
    .home-section .text .black {
        font-size: 37px;
    }
    .home-section .text .green {
        color :rgb(12, 126, 126);
        font-size: 43px;
    }
    .home-section .text .black ,.home-section .text .green {
        text-transform: capitalize;
        font-weight: bold;
    }
    .home-section .text .hopro {
        font-weight: bold;
    }
    .home-section .text .save {
        font-size: 15px;
        font-weight: 600;
    }
    .home-section .text .shopnow button {
        padding: 15px 30px;
        font-weight: bold;
        border: none;
        background-color: rgb(12, 126, 126);
        border-radius: 5px;
        font-size: 15px;
        color: white;
    }
    .home-section .img {
        width: 100%;
    }
    .home-section .img  img{
        width: 100%;
    }
    /* .full {
        padding: ;
    } */
    .full .swiper {
        position: relative;
    }
    .full .swiper .swiper-wrapper .swiper-slide {
        display: flex;
        align-items: center;        
        flex-direction: column;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        /* width: 100%; */
    }
    /* .swiper-slide .img {
        width: 47.5%;
    } */
    .full .swiper .swiper-wrapper .swiper-slide img {
        /* height: 20px; */
        width: 100%;
        border-radius: 10px;
    }
    .full .swiper .swiper-wrapper .swiper-slide .title{
        padding: 10px 0;
        text-align: center;
        font-weight: 600;
    }
    .full .swiper .title {
        /* width: 20px; */
        padding: 15px 0;
        /* justify-content: center; */
    }
    .full .swiper .black , .full  .title .green {
        font-size: 20px;
        font-weight: 600;
    }
    .full .swiper .title .green {
        color: rgb(12, 126, 126);
    }
    .full .swiper .swiper-button-prev ,.full .swiper .swiper-button-next {
        /* color: #fff; */
        position: absolute;
        overflow: hidden;
        user-select: none;
        top: var(--swiper-navigation-top-offset, 60%);
        /* color : blue */
        
    }
    .full .swiper .swiper-button-prev::after,.full .swiper .swiper-button-next::after {
        position: absolute;
        /* background-color: red ; */
        /* top: var(--swiper-navigation-top-offset, 60%) */
    }
    /* .full {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .full .pcategories {
        display: flex;
        justify-content: space-between;
    }
    .full .pcategories .title .black , .full  .title .green {
        font-size: 20px;
        font-weight: 600;
    }
    .full .pcategories .title .green {
        color: rgb(12, 126, 126);
    }
    .full .pcategories .rl {
        display: flex;
        gap: 10px;
    }
    .full .pcategories .rl i {
        font-size: 30px;
        color: rgb(12, 126, 126);
        border-radius: 50%;
        background-color: rgba(0, 121, 121, 0.144);
    }
    .full .swiper{
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        gap: 20px;
    }
    .full .swiper .Categorie {
        display: flex;
        align-items: center;        
        flex-direction: column;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        
    }
    .full .swiper .Categorie .title{
        padding: 10px 0;
        font-weight: 600;
    }
    .full .swiper .Categorie{
        width: 90%;
    }
    
    .full .swiper .Categorie .img img {
        width: 100%;
    } */
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        background-color: lightgreen;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        background-color: lightcoral;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        background-color: lightgoldenrodyellow;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .container {
        background-color: lightpink;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        background-color: lightgray;
    }
}
